In [70]:
import numpy as np

import pandas as pd

In [103]:
s = pd.Series([1, 3, 5, np.nan, 6, np.nan])
s

0    1.0
1    3.0
2    5.0
4    6.0
dtype: float64

In [104]:
dates = pd.date_range(start="20240612", periods=6)
dates

DatetimeIndex(['2024-06-12', '2024-06-13', '2024-06-14', '2024-06-15',
               '2024-06-16', '2024-06-17'],
              dtype='datetime64[ns]', freq='D')

In [105]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2024-06-12 -1.208628  1.346865  0.506456  0.535283
2024-06-13  1.544207  0.614148  0.785774 -1.045928
2024-06-14 -1.721909  0.946783  2.167970  0.075534
2024-06-15  0.006506  0.591454  0.048140  0.006782
2024-06-16 -0.050316  0.675193  0.109115 -0.889459
2024-06-17 -1.525010  0.809764 -0.008053  0.619624

In [140]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series([1, 9, 8, 4], index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
# df.head(1)
# df.tail(3)
# df.index
# df.columns
# df.to_numpy()
# df.describe()
# df.T
# df.sort_index(axis=1, ascending=False)
df2.sort_values(by='C', ascending=False)

     A          B    C  D      E    F
1  1.0 2013-01-02  9.0  3  train  foo
2  1.0 2013-01-02  8.0  3   test  foo
3  1.0 2013-01-02  4.0  3  train  foo
0  1.0 2013-01-02  1.0  3   test  foo

In [147]:
# df2['A']
# df2[0:1]
df["20240612":"20240614"]

                   A         B         C         D
2024-06-12 -1.208628  1.346865  0.506456  0.535283
2024-06-13  1.544207  0.614148  0.785774 -1.045928
2024-06-14 -1.721909  0.946783  2.167970  0.075534

In [157]:
# Selection by label
# df.loc[dates[0]]
# df.loc[:, ["A", "C"]]
# For getting fast access to a scalar (equivalent to the prior method):
df.at[dates[0], "A"]

np.float64(-1.2086281738970248)

In [159]:
# Selection by POSOITION
df.iloc[1:5, 0:2]
# For getting fast access to a scalar (equivalent to the prior method):
df.iat[1, 1]

np.float64(0.6141476571538047)